!!!
%html
  %head
    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
  :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-77378-6']);
      _gaq.push(['_setDomainName', '.forchesoftware.com']);
      _gaq.push(['_trackPageview']);
            
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    %h1
      SGNL
    %p{:style=>"text-align: center;"}
      Redirector for SignalFlare
